/* Utility Classes */
.btn-primary {
    background: var(--default-green);
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover {
    background: var(--light-green);
    cursor: pointer;
    transition: all 300ms ease;
}

.logo {
    height: 40px;
    width: auto;
}

/* Navbar */
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    padding: 0px 15px;

}

#navbar .navbar-container {
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar .navbar-container ul {
    display: flex;
    font-weight: bold;
}

#navbar .navbar-container ul li {
    padding: 0 20px;
}

#navbar .navbar-container ul li a {
    color: white;
}

#navbar .navbar-container ul li a:hover {
    color: var(--light-green);
    cursor: pointer;
    transition: all 300ms ease;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid white;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("../img/showcase.webp") center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2 {
    font-size: 5rem;
}

#showcase .showcase-container p {
    margin: 15px 0;
    font-size: 1.1rem;
}

/* Footer */
#footer {
    background: black;
    color: white;
    padding: 80px 15px;

}

#footer .footer-content {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;

}

#footer .footer-content .footer-logo {
    width: 195px;
}

#footer .footer-content .footer-menu-container {
    display: flex;
    width: 585px;
    margin-left: -13rem;
}

#footer .footer-content .footer-menu {
    width: 195px;
}


#footer .footer-content .footer-menu .footer-menu-item {
    margin: 20px 0;
    transition: all 300ms ease;
    width: 150px;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    color: var(--default-green);
    cursor: pointer;
    transition: all 300ms ease;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

/* Footer Socials */
.socials {
    display: flex;
    transition: all 300ms ease;
}

.socials i:hover {
    color: var(--default-green);
    cursor: pointer;
    transition: all 300ms ease;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}

/* Footer Info */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    padding-top: 50px;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
    transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
    color: var(--default-green);
    cursor: pointer;
    transition: all 300ms ease;
}

.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.footer-info .rights .country p {
    transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
    color: var(--default-green);
    cursor: pointer;
    transition: all 300ms ease;
}

.footer-info .rights .country .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

/*Menu Hamburguer */

.header nav ul li a {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;

}

.navbar nav .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}


.navbar nav label {
    display: flex;
    flex-direction: column;
}

.navbar .hamburguer {
    background-color: black;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.navbar .hamburguer:before,
.navbar .hamburguer:after {
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.navbar .hamburguer:before {
    top: -10px;
}

.navbar .hamburguer:after {
    bottom: -10px;
}

.navbar input {
    display: none;
}

.navbar input:checked~label .hamburguer {
    transform: rotate(45deg);
}

.navbar input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.navbar input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    top: 0;
}